.container {
  padding: var(--ax-space-16);
  border-radius: var(--ax-radius-8);
  background-color: var(--ax-neutral-100);
  font-weight: var(--ax-font-weight-bold);
}

.accountNumber {
  display: flex;
  justify-content: space-between;
  font-weight: var(--ax-font-weight-regular);
  grid-template-columns: 1fr 1fr;
  margin-top: var(--ax-space-8);
}

@media screen and (min-width: 700px) {
  .textContainer {
    margin-bottom: var(--ax-space-16);
  }
}
