.journalpostCard {
  padding: var(--ax-space-20);
  margin-bottom: var(--ax-space-16);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--ax-bg-neutral-soft);
  border-radius: var(--ax-radius-12);
}

.journalpostCardContainer {
  display: block;
}

.journalpostCardContent {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}

.showAllDocumentButtonContainer {
  padding: 2rem;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .journalpostCardContainer {
    display: flex;
    gap: 2rem;
  }
}
