:root {
  --app-max-width: 900px;
}

.mine-dagpenger {
  margin-bottom: var(--ax-space-64);
}

.page-header {
  margin-bottom: var(--ax-space-24);
}

.modal-container {
  width: 100%;
  max-width: var(--app-max-width);
  padding: var(--ax-space-8);
}

.modal-container--error {
  background-color: var(--ax-warning-100);
  box-shadow: 0 0 0 1px var(--ax-warning-700);
}

.modal-container--error:focus {
  box-shadow: 0 0 0 3px var(--ax-warning-700);
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
}

.no-padding-portabletext :first-child {
  margin-top: 0;
}

.no-padding-portabletext :last-child {
  margin-bottom: 0;
}

.mt-4 {
  margin-top: var(--ax-space-16);
}
