.expandableTittel {
  display: flex;
  gap: 0.5rem;
  padding: 0;
  color: #0067c5;
  background-color: transparent;
  border: 0;
}

.expandableTittel:hover {
  text-decoration: underline;
  cursor: pointer;
}

.expandableTittel svg {
  font-size: 1.5rem;
  margin-top: -2px;
}

.showAttachments {
  height: auto;
  opacity: 1;
  transition: opacity 600ms 0ms;
}

.hideAttachments {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: opacity 400ms 0ms;
}

.expanded {
  transform: rotate(180deg);
}

@media screen and (min-width: 700px) {
  .expandable {
    margin-top: 1rem;
  }
}
