.soknadList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.soknadContainer {
  border: 1px solid var(--ax-border-neutral-subtle);
  border-radius: var(--ax-radius-12);
  background-color: white;
  margin-top: var(--ax-space-16);
}

.soknadContent {
  padding: var(--ax-space-20);
}

.soknadDate {
  margin-top: var(--ax-space-4);
  color: var(--ax-text-neutral-subtle);
}

.soknadLinksContainer {
  display: flex;
  gap: var(--ax-space-12);
  padding: var(--ax-space-20);
}

.soknadLinksContainerForSkyra {
  display: flex;
  gap: var(--ax-space-12);
  padding: var(--ax-space-20);
  * {
    width: 100%;
    padding: 1rem;
    background: var(--ax-bg-meta-purple-soft);
    border-radius: var(--ax-radius-12);
  }
}

.soknadLinksContainer a {
  text-decoration: none;
}

.errorContainer {
  margin: 1rem 0;
}

.soknadStatusText {
  margin: 1rem auto;
}

.soknadStatusDate {
  margin-top: var(--ax-space-4);
  color: var(--ax-text-neutral-subtle);
  font-weight: bold;
}

.soknadInfoBox {
  margin-top: var(--ax-space-16);
}

.soknadDokumentasjonManglerTag {
  margin-top: var(--ax-space-12);
}