.container {
  padding: var(--ax-space-20);
  border-radius: var(--ax-radius-8);
  background-color: var(--ax-brand-blue-100);
}

/* Remove portable text extra margin */
.container p {
  margin-top: 0;
}

.navigationContainer {
  display: grid;
  gap: var(--ax-space-12);
  margin-top: var(--ax-space-24);
}

.navigationContainer a {
  text-decoration: none;
}

.navigationContainer a button {
  width: 100%;
}

@media screen and (min-width: 860px) {
  .navigationContainer {
    grid-template-columns: 1fr 1fr;
  }
}
