.section {
  padding: var(--ax-space-32) var(--ax-space-16);
  width: 100%;
}

.smallSpacing.smallSpacing {
  padding: var(--ax-space-16);
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: var(--app-max-width);
}

.highlighted {
  background-color: var(--ax-neutral-100);
}

@media screen and (min-width: 700px) {
  .section {
    margin: 0 auto;
    padding: var(--ax-space-40) var(--ax-space-16) var(--ax-space-32);
    max-width: 100vw;
  }

  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  /* 66.66% width */
  .defaultWidth {
    grid-column-start: span 2;
  }

  /* 100% width */
  .fullWidth {
    grid-column-start: span 3;
  }
}
